* {
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  line-height: 1;
  font-size: 12px;
}


/* body{
    background:#FFE521; 
} */

header
{
width: 90%;
height: auto;
background-color:#ffffff;
margin:auto;
border: #000000 1px solid;
/* display: inline; */
} 

.img-volver{
  margin: auto;
  width: 35%;
  height: auto;
  cursor: pointer;
}

#imgLogo{
  width: 30%;
  height: auto;
  }

  .hide{
    display: none;
  }
  
  .show{
    display: block;
  }


main
{
width: 90%;
height: auto;
background-color:#FFE521;
margin:auto;
position: relative;
border: #000000 1px solid;
display: flex;
align-items: stretch;
}   

form
{
width:95%;
margin: auto;  /* para centrar el formulario */    
background: #FFE521; 
padding: 10px 20px;  
box-sizing: border-box;    
margin-top: 20px;
border-radius: 7px;  /* ESQUINAS REDONDAS */
}

nav
{
width: 20%;
height: auto;
background-color:#FFE521;
/* position: absolute; */
border: #000000 1px solid;
}

.hide{
  display: none;
}

.show{
  display: block;
}


select {
width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 13px;
border: black 2px;
} 





.input-botones
{
width: 100%;
margin-bottom: 10px;
padding: 7px;
box-sizing: border-box;
font-size: 12px;
border: none;    
cursor: pointer;
}

.radiobuton {
width: 80%;
margin: 1em auto;
padding: 1em 5%;
background: #fff;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;
}

 aside#izquierda
{
 
width: 80%;  
height: auto;
background-color:beige;
/* float:right; */
text-align: center;
/* border: #000000 3px solid; */
}


.img-pag1{
  margin: auto;
  width: 100%;
  height: auto;
  border: solid 3px black;
  text-align: right;
  /* size: 30% */
}

.img-graficos{
  margin: auto;
  width: 100%;
  height: auto;
  border: solid 3px black;
}
footer
{
 width: 90%;
height: auto;
background-color: #ffffff;
margin: auto;
border: #000000 1px solid;
}

p{
  text-align:center;
}


/*/////////////////////////////////////////////////////////*/
/*=================  MENU DESPLEGABLE    ==================*/
/*/////////////////////////////////////////////////////////*/
.navigatingBar {
  background: rgba(58, 5, 5, 0.26);
  border-radius: 10px;
  margin: auto;
  margin-top: 6%;
  width: 80%;
}

.newTab {
  background-color: rgba(0, 0, 0, 0.74);
  width: 80%;
  height: auto;
  font-size: 10px;
  float: left;
}

.place {
  border-radius: 10px;
  font-size: 200%;
  list-style-type: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: pointer;
}
.place:hover {
  background-color:rgb(51, 47, 16);
  color: rgb(255, 255, 255) ;
}

/*/////////////////////////////////////////////////////////*/
/*================= ESTILOS DE LA TABLA ==================*/
/*/////////////////////////////////////////////////////////*/


h1 {
  font-size: 1.2em;
  font-weight: 600;
}

h2 {
  font-size: 1.1em;
  font-weight: 400;
}

.container {
  display: grid;
  max-width: 100%;
  min-width: 240px;
  margin: 0px auto;
  height: 100%;
  background-color: white;
}

.col-3 {
  text-align: center;
  position: inherit;
}

.col-6 {
  text-align: left;
  padding-left: 20px;
}

.col-9 {
  text-align: left;
  padding-left: 10px;
  width: 100%;
}

.col-12 {
  text-align: left;
  padding-left: 10px;
  width: 100%;
  min-width: 300px;
}


/*Header*/

#superior {
  background-color: #FF009E;
  height: 50px;
  padding-top: 10px;
  min-width: 300px;
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Navbar*/

#logo {
  height: 50px;
  float: unset;
}

.search {
  height: 100px;
  padding: 10px;
  background-color: #FFE521;
  margin-top: 1px;
  min-width: 250px;
}

#sidebar {
  background: white;
  color: black;
  transition: all 0.3s;
  min-width: 270px;
  padding: 10px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: black;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: black;
  background-color: #FFE521;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: black;
  background: gainsboro;
  text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: black;
  background: #FFE521;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: gainsboro;
}


/*Contenido*/

.results {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: beige;
}

.rankingbox {
  width: 31%;
  height: 80%;
  float: left;
  margin: 5px;
  background-color: white;
}

.graph {
  width: 31%;
  height: 80%;
  float: left;
  margin: 5px;
  background-color: white;
}

#cohort {
  width: 5%;
  float: left;
  margin: 5px;
  background-color: white;
}

.footer {
  background-color: #FFE521;
  height: 25px;
  text-align: center;
  padding: 5px;
}

.studentlist {
  height: 600px;
  padding: 15px;
  background-color: beige;
  margin: 15px;
  overflow: scroll;
}

.btn-cont {
  background-color: #FFE521;
  color: black;
  padding: 10px;
  border: none;
  margin-top: 15px;
  padding: left;
}

.title {
  text-align: left;
}

table {
  width: 100%;
  text-align: center;
  background-color: beige;
}

table th,
table td {
  padding: 15px;
  text-align: left;
}
